/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal.show {
    display: block;
}

.modal-content {
    background-color: #ffffff;
    color: #7900b1;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 500px;
    width: 60%;
    border-radius: 10px;
}

.modal-close {
    color: #aaa;
    float: right;
    padding: 10px 20px;
    border: 1px solid #888;
    border-radius: 30px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    background-color: #ffffff;
}
